body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  font-size: 1.6em;
}

.intro {
  text-align: center;
  padding: 150px 0;
  background: url(../images/coding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 600px;
}
.intro .bg {
  background: #d1caca7a;
  border-radius: 10px;
  padding: 50px;
}
.intro .bg h1,
.intro .bg h3 {
  color: #000;
}

.section-title {
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #333333;
  width: 300px;
  margin: 0 auto 40px;
}

.about,
.background,
.work-experience {
  padding: 70px 0;
}

.about h2 {
  padding-bottom: 20px;
  margin: 0 auto 50px;
}

.about .brief {
  padding-bottom: 30px;
}
.about .brief p {
  line-height: 1.8em;
}

.about .technologies h4 {
  border-bottom: 2px solid #d7ba49;
  font-weight: bold;
  padding-bottom: 10px;
}

.about .technologies #img-container:hover .overlay {
  opacity: 1;
  height: 132px;
}

.about .technologies .text {
  color: white;
  font-size: 18px;
  padding-left: -5px;
  padding-right: 32px;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.about .image {
  display: block;
  margin: 10px 0px;
  width: 100%;
  height: 100px;
}

.about .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96%;
  width: 105%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #008cba;
}

.about .text ul {
  list-style-type: none;
}

.about .additional-info {
  margin-right: 15px;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}
.about .additional-info h4 {
  font-weight: bold;
}
.about .additional-info .display-pic img {
  width: 100%;
  position: relative;
}
.about .additional-info .card-info {
  padding: 5px 10px;
}
.about .additional-info .card-info h5 {
  font-size: 1em;
}
.about .additional-info .card-info span {
  color: #008cb7;
}
.about .additional-info .card-info .contact {
  background: #008cb7;
  width: 100%;
  padding: 8px 16px;
}
.about .additional-info .card-info .contact a {
  color: #fff;
  text-decoration: none;
}

.about .interests {
  margin-top: 30px;
}
.about .interests h4 {
  font-weight: bold;
}

.objectives {
  background: url(../images/muiz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: #e6e6e6;
}
.objectives .container {
  padding: 50px 0;
}
.objectives h2 {
  padding-bottom: 20px;
}
.objectives ul {
  list-style-type: none;
}

.overlay {
  background: rgba(5, 23, 39, 0.62);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.recent-work {
  background: #f8f8f8;
  padding: 30px 0;
}

.background,
.work-experience {
  padding: 30px 0;
}
.background .item h3,
.work-experience .item h3 {
  font-size: 1.2em;
  color: #008cb7;
}
.background .item .title,
.work-experience .item .title {
  color: #d9ba58;
}
.background .item .when,
.work-experience .item .when {
  font-size: 0.75em;
}

.skills {
  background: #f8f8f8;
  padding: 30px 0;
}

.contact {
  text-align: center;
  background: #008cb7;
}

footer {
  background: #006584;
  color: #fff;
}
